---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Feature from '../components/blocks/features/FeatureSticky.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import FormHero from '../components/blocks/hero/ContactHero.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'


import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'

// Data
import featuresData from '../data/json-files/featuresData.json'
// - Feature Categories
const mantaraysleak = featuresData.filter((feature) => feature.category === 'mantarays-leak')
const mantaraysopt = featuresData.filter((feature) => feature.category === 'mantarays-opt')


// Content
// - SEO
const SEO = {
	title: 'globetrotter.finance | mantarays',
	description:
		"leakage identification, optimisation solutions"
}
// - Page Header
const header = {
	title: 'without digital.<strong>mantarays</strong>,<br>you are <strong>loosing customers</strong>',
	text: 'Plug revenue leakages from your digital assets and optimise conversions'
}
const contactHeader = {
	title: 'Are you ready to work on your digital leaks and improve customer retention? We are an email away <strong>Ping us!</strong>',
	text: "<strong>sales@globetrotter.finance</strong>"
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section id='saras-title' classes=`bg-neutral-50 dark:bg-neutral-900`>
		<Row>
			<Col span="12" align="center">
				<header class="page-header">
					<h1 set:html={header.title} />
					<h4>
						<p set:html={header.text} />
					</h4>
				</header>
			</Col>
		</Row>
	</Section>
	<Feature
		title="Leakage Identification"
		text="Delve into your data with precision and uncover actionable insights."
		data={mantaraysleak}
	/>
	<Feature
		title="Optimisation Solutions"
		text="Streamline tasks and focus on what matters with tools designed to boost your productivity."
		data={mantaraysopt}
		classes="bg-neutral-50 dark:bg-neutral-900"
	/>
	<FormHero
		title={contactHeader.title}
		text={contactHeader.text}
		id="contact"
	/>
</Layout>
