---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Feature from '../components/blocks/features/FeatureSticky.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import FormHero from '../components/blocks/hero/ContactHero.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'

import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import Button from '../components/ui/Button.astro'

// Data
import featuresData from '../data/json-files/featuresData.json'
// - Feature Categories
const sarasdd = featuresData.filter((feature) => feature.category === 'saras-dd')
const sarasci = featuresData.filter((feature) => feature.category === 'saras-ci')
const sarasgst = featuresData.filter((feature) => feature.category === 'saras-gst')
const saraschat = featuresData.filter((feature) => feature.category === 'saras-chat')

// Content
// - SEO
const SEO = {
	title: 'globetrotter.finance | saras',
	description:
		"due diligence, contracts intelligence & legal excellence"
}
// - Page Header
const header = {
	title: 'you seriously need, legal.<strong>saras</strong>',
	text: '<br>accelerate due diligence processes with our efficient solutions.<br><br>receive precise answers on laws, acts, and legal documents through our customized chatbots<br><br>break free from contractual limitations with our comprehensive contract management services'
}
const contactHeader = {
	title: 'Are you ready to empower your legal side of business with the help of AI? We are an email away <strong>Ping us!</strong>',
	text: "<strong>sales@globetrotter.finance</strong>"
}
---


<Layout title={SEO.title} description={SEO.description}>
	<Section id='saras-title' classes=`bg-neutral-50 dark:bg-neutral-900`>
		<Row>
			<Col span="12" align="center">
				<header class="page-header">
					<h1 set:html={header.title} />
					<h4>
						<p set:html={header.text} />
					</h4>
				</header>
			</Col>
			<Col span="12" align="center">
				<br><br>
				<Button size="lg" style=primary elevated=true link="https://saras.globetrotter.finance/#/pages/login">Have access? Log In here.</Button>
			</Col>
		</Row>
	</Section>
	<Feature
		title="Due Diligence"
		text="Delve into your data with precision and uncover actionable insights."
		data={sarasdd}
	/>
	<Feature
		title="Contracts Intelligence"
		text="Delve into your data with precision and uncover actionable insights."
		data={sarasci}
		classes="bg-neutral-50 dark:bg-neutral-900"
	/>
	<Feature
		title="Taxation & GST Automations"
		text="Delve into your data with precision and uncover actionable insights."
		data={sarasgst}
	/>
	<Feature
		title="Chat & File Bots"
		text="Streamline tasks and focus on what matters with tools designed to boost your productivity."
		data={saraschat}
		classes="bg-neutral-50 dark:bg-neutral-900"
	/>
	<FormHero
		title={contactHeader.title}
		text={contactHeader.text}
		id="contact"
	/>
</Layout>
